<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
  <mat-card class="eventcard">
    <!--<mat-card-header>
      <div></div>
      <mat-card-title>United DisAbility </mat-card-title>
    </mat-card-header>-->
    <img mat-card-image src="../../assets/img/UDCLOGOText.png" alt="UDC Logo">
    <mat-card-content class="textblock">
      <div class="titlel2">Why should living with a disability stop you from living your best life?</div>
      <div classs="details2">
        We provide a passionate team who will treat you like family, and help you love your life and live your
        dreams.
        Our qualified teams are dedicated to ensuring the people we support are living an enriched life, reaching
        their
        goals and feel supported, all while meeting individual needs.
        We specialise in finding housing solutions for people living with disability or with Mental Health
        illnesses.
      </div>

      <div class="titlel2">Why choose United Disability Care as your Service Provider?</div>
      <div classs="details2">
        At United Disability Care we encourage a person led approach, where each person is in charge of their life
        from
        the front, where our team will provide support moving forward. Our Mission is to support people to Love
        their
        life and Live their dreams.
        We continually strive to assist the people we support to live a more independent and fulfilled life,
        offering
        services better suited to each person’s unique needs and aspirations.
        Our dedicated team work with the people we support to ensure they are living an enriched life, reaching
        their
        goals and living their dream. Each person on our team plays a critical role in delivering the quality
        services
        expected by the people we support, their families and the company. We are proud of our team and the
        excellent
        care and service provided to our entire United Disability Care extended family.
      </div>
      <br /><br />

      <div class="udchdr">Contact us</div>
      Visit our website <a href="https://www.uniteddisability.com.au/">www.uniteddisability.com.au</a> <br />
      or call us on : 1300 454 850

    </mat-card-content>
  </mat-card>
</div>
